
#titulo-principal{
	padding-left: 20px;
}
#imagem {

	width: 100%;

}
.principal{
	background-color:#696969;
	padding: 30px;
}

.titulo-centralizado{

	text-align: center;
}

p {
	text-align: center;
}

#missao{

	font-size: 20px
}

em strong {
	color: red;
}

.beneficios{
	background: #FFFFFF;
	padding: 20px;
}
.itens{
	vertical-align: top;
	display: inline-block;
	width: 20%;
	margin-right: 15%;
	font-style: italic;
}
.imagembeneficios{
	width: 50%;
}